:root {
  font-family: 'Press Start 2P', monospace;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  
  background: #060612;
}

#root {
  height: 100%;
}
